<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coop finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <h1>Welcome, {{ user.name }}!</h1>
    <h2>Gamelist: </h2>
    <table>
        <tr>
        {% for game in games %}
            <th>
                <a href="http://store.steampowered.com/app/{{ game.appid }}/" target="_blank">
                    <img src="{{ game.icon }}" title="{{ game.name }}">
                </a>
            </th>
            {% if loop.index is divisibleby 20 %}
                </tr>
                <tr>
            {% endif%}
        {% endfor %}
         </tr>
    </table>
    <h2>Friendlist: </h2>
    {% for friend in friends %}
    <div>
        <table>
            <tr>
                <th><img  src="{{ friend.avatar }}"></th>
                <th><h3>{{ friend.name }}</h3></th>
            </tr>
        </table>
        <table>
            <tr>
            {% for game in commons[friend.steamid] %}
                <th style="width:32px">
                    <a href="http://store.steampowered.com/app/{{ game.appid }}/" target="_blank">
                        <img width="32" height="32" border="0" align="center" src="{{ game.icon }}" title="{{ game.name }}">
                    </a>
                </th>
                {% if loop.index is divisibleby 20 %}
                    </tr>
                    <tr>
                {% endif%}
            {% endfor %}
            </tr>
        </table>
    </div>
    {% endfor %}
</body>
</html>